<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

    <th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
        <th:block th:fragment="content">
            <h1 class="mt-4">
                Guest page List Page
                <span>
                    <a th:href="@{/guestbook/register}">
                        <button type="button" class="btn btn-outline-primary">Register</button>
                    </a>
                </span>
            </h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Gno</th>
                    <th scope="col">Title</th>
                    <th scope="col">Writer</th>
                    <th scope="col">Regdate</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dto: ${result.dtoList}">
                    <th scope="row">[[${dto.gno}]]</th>
                    <td>
                        <a th:href="@{/guestbook/read(gno = ${dto.gno}, page = ${result.page})}">[[${dto.title}]]</a>
                    </td>
                    <td>[[${dto.writer}]]</td>
                    <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination h-100 justify-content-center align-items-center">
                <li class="page-item " th:if="${result.prev}">
                    <a class="page-link " th:href="@{/guestbook/list(page=${result.start - 1})}" tabindex="-1">Previous</a>
                </li>

                <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                    <a class="page-link" th:href="@{/guestbook/list(page=${page})}">
                        [[${page}]]
                    </a>
                </li>

                <li class="page-item" th:if="${result.next}">
                    <a class="page-link" th:href="@{/guestbook/list(page=${result.end + 1})}">Next</a>
                </li>
            </ul>
        </th:block>
    </th:block>

<!--모달창 구현-->
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="$('.modal').hide()"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="$('.modal').hide()">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var msg = [[${msg}]];

    if (msg) {
        $(".modal").show();
    }
</script>

</html>